$mobile-width: 730px;
$tablet-width: 1024px;

$header-hover: #d4c9dd;

$header-shrink: rgb(12, 65, 145);
$font-color: #f9f9fa;
$font-family: 'Poppins', sans-serif;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$header-height: 8rem;
$header-shrink-height: 7.5rem;
$border-radius: 10px;

$heightSection: 75vh;

$white: #fff;

$black: #000;
